body {
    background-image: url("../assets/images/bg/aboutbg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: hidden;
}

main {
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.knowTheOwner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(40vw, 200px);
    height: min(50vw, 250px);
    border-radius: 100%;
    border: 5px solid gold;
    box-shadow: 0 0 15px gold;
    background-color: white;
    overflow: hidden;
    transition: 1s;
}

.knowTheOwner > img {
    height: min(50vw, 250px);
    margin-left: min(18vw, 100px);
}

.description {
    margin-top: max(4vw, 4vh);
    display: flex;
    flex-direction: column;
    width: 80vw;
    border-radius: 20px;
    padding: 3vh;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 217, 0, 0.401);
    box-shadow: 0 0 15px rgba(255, 217, 0, 0.96);
    color: white;
}

h1, h3 {
    text-align: center;
    font-weight: 1000;
    text-shadow: 1px 1px 5px black;
}

h1 {
    font-size: 1.4rem;
}

p {
    margin-top: 1vh;
    text-indent: 40px;
    text-shadow: 5px 2px 5px black;
    line-height: 1.2;
}