@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap'); /*Bonheur Royale*/
@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&family=Bonheur+Royale&family=Gloock&display=swap'); /*Annapurna SIL*/

/* VARIABLES */
:root {
    --main-color: #e2a943;
    --hover-color: rgb(184, 131, 19);
}


/* PHONES */
@media (max-width: 520px) {
    .hook {
        background-image: url("../assets/images/bg/mobilebg.jpg");
    }
    .desktop {
        display: none;
    }
}

/* LAPTOPS */
@media (min-width: 520px) {
    .hook {
        background-image: url("../assets/images/bg/pcbg.jpg");
    }
}

@keyframes hoverEffect {
    100% {
        color: var(--hover-color);
        outline: 0.14rem solid var(--hover-color);
    }
}

@keyframes releaseEffect {
    0% {
        color: var(--hover-color);
        outline: 0.14rem solid var(--hover-color);
    }
    100% {
        color: white;
        outline: 0.14rem solid rgba(255, 255, 255, 0.818);
    }
}

/* GENERAL */

body {
    background-color: b89e70e0;
}

.hook {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.6vh;
    font-family: 'Annapurna SIL', sans-serif;
    text-shadow: 0.2rem 0.2rem 0.3rem black;
}

#firstLine {
    font-size: 1.6rem;
    font-weight: 500;
}

#company {
    font-family: 'Bonheur Royale', sans-serif;
    font-size: 4.8rem;
}

.getStarted {
    margin-top: 2.5vh;
    display: flex;
    justify-content: center;
}

#letsGetStarted {
    cursor: pointer;
    background-color: var(--main-color);
    padding: 0.5rem 0.7rem 0.3rem;
    border-radius: 10rem;
    color: white;
    font-weight: 700;
    text-shadow: none;
    box-shadow: 0.3rem 0.3rem 0.6rem black;
    text-decoration: none;
    border: 0.14rem solid rgba(255, 255, 255, 0.818);
}

#letsGetStarted:hover {
    transition: 1s !important;
    color: var(--hover-color) !important;
    border: 0.14rem solid var(--hover-color) !important;
}